<% include ../partials/header %>

<div class='container'>
    <div class='formContainer'>
<div><h1 class="display-4" id="one"><%= icebreaker.title%></h1></div>
<div><p class="lead">By <%= icebreaker.author.username %></p></div>
<div>
    <p><em><%= icebreaker.createdAt.toDateString()%></em></p>
    <p><%- icebreaker.text%></p>
    <div class='formContainer one'>
        <h3><%= icebreaker.question%></h3>
    </div>
</div>


<% if(currentUser && currentUser.facebook.id === icebreaker.author.id) { %>
    <div class="input-group">
        <a href='/icebreakers/<%= icebreaker._id%>/edit' class='btn btn-secondary btnSmall'>edit</a>
        <span class="input-group-btn">
    <form action="/icebreakers/<%= icebreaker._id %>/?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger btnSmall">delete</button>
    </form> 
        </span>
    </div>
<% } %>


<div><br><hr class='style-two'></div>

<div class='showDiv'>
<h3>Responses</h3>

<% icebreaker.comments.forEach(function(comment){ %>
    <div class='showDiv'>
        <!--<%= comment.text %>-->
        <!--<br><em><%= comment.createdAt.toDateString()%></em>-->
        
        <strong><%= comment.author.username %></strong>
        <span style='color: grey;'><em> - <%= comment.createdAt.toDateString()%></em></span>
        <p><%= comment.text %></p>
        
        <% if(currentUser && currentUser.facebook.id === comment.author.id) { %>
            <div class="input-group">
            <a href='/icebreakers/<%= icebreaker._id %>/comments/<%= comment._id %>/edit' class='btn btn-sm btn-secondary btnSmall'>edit</a>
            <span class="input-group-btn"><form action="/icebreakers/<%= icebreaker._id%>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                <button class='btn btn-sm btn-danger btnSmall'>delete</button>
            </form></span></div>
        <% } %>
    </li>
    </div>
<% }) %>

</div>

<h3>Leave a Reply</h3>

<div class='showDiv'>
<form action="/icebreakers/<%= icebreaker._id%>/comments" method="POST">
    <div class="form-group">
            <input type="text" class="form-control" placeholder="Respond to icebreaker!" name="comment[text]" required>
    </div>
    <button class='btn btn-success btnSmall'>Submit</button>
</form>
</div>


</div class='showDiv'>
    <div><a href='/icebreakers' class="btn btn-primary btnBlue">Index</a></div>
</div>

<% include ../partials/footer %>