<p><%= icebreaker.text%> - <em><%= icebreaker.createdAt.toDateString()%></em></p>
<a href='/icebreakers/<%= icebreaker._id%>/edit'><em>edit</em></a>
<form action="/icebreakers/<%= icebreaker._id %>/?_method=DELETE" method="POST">
    <button class="btn btn-xs btn-danger">delete</button>
</form> 


<form action="/icebreakers/<%= icebreaker._id%>/comments" method="POST">
    <input type="text" placeholder="Respond to icebreaker!" name="text" required>
    <button>Submit</button>
</form>

<ul>
<% icebreaker.comments.forEach(function(comment){ %>
    <li>
        <%= comment.text %>
        <a href='/icebreakers/<%= icebreaker._id %>/comments/<%= comment._id %>/edit'>edit</a>
        <form action="/icebreakers/<%= icebreaker._id%>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </li>
<% }) %>
</ul>